@CHARSET "UTF-8";
#permissions{
-moz-border-radius:3px 3px 3px 3px;
background-color:#fcfff1;
border:1px solid #90D490;
padding:5px;
}

#permissions h2{
margin:5px;
color:#808080;
}

#permissions h3{
margin:0px;
color:#ffffff;
background:#d0d0d0;
padding:5px;
}

.sub-permissions
{
    padding:0px;	
    border:1px solid #d0d0d0;
    -moz-border-radius:3px 3px 3px 3px;
    margin:5px;
}

.permission-button
{
width:130px;
height:40px;
display:block;
float:left;
background-color:#f0f0f0;
margin:5px;
padding:5px;
font-weight:normal;
color:#a0a0a0;
-moz-border-radius:3px 3px 3px 3px;    
}

.permission-button : hover
{
	color:#808080
}

