@CHARSET "UTF-8";

body
{
    font-family:Arial, Sans;
    font-size:small;
    background-color:#fff;
    background-image:url(../images/noise.png);
    margin:0px;
}

#header
{
    padding:5px;
    background-image:url(../images/topgrad.png);
    color:#fff;
}

#header a
{
    color:#fff;
}

#body
{
    min-height:470px;
}

#logo-image
{
    width:20%;
    float:left;
}

#logo-image img
{
    border:none;
}

#user-info
{
    width:80%;
    float:left;
    text-align:right;
    vertical-align:middle;
    font-size:smaller;
    height:32px;
}

#user-info-text
{
    margin:10px;
    padding-right:10px;
}

#top-menu
{
    clear:both;
    color:#ffffff;
    padding-top:6px;
    padding-bottom:6px;
    font-weight:bold;
    background-image:url('../images/glossy_menu_back.gif');
    background-position:0% 50%;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
    overflow:hidden;
}

#top-menu a{
    color:white; /*#1B660E;*/
    padding:6px;
    padding-right:20px;
    background-image:url('../images/glossy_menu_edge.gif');
    background-position:100% 50%;
    background-repeat:no-repeat;
    font-size:0.9em;
}

#footer
{
    font-size:0.7em;
    text-align:center;
    clear:both;
    padding:10px;
}

#side-menu
{
    width:22%;
    float:left;
}

#notification
{
    background-color:#FFF5BA;
    padding:15px;
    color:#FF8329;
    margin:5px;
    border:2px solid #FFE0BA;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#body
{
    width:78%;
    float:left;
}

#body-internal
{
    padding-left:10px;
    padding-right:10px;
    margin-bottom:5px;
}

#body-top
{
    padding-left:10px;
    margin-bottom:7px;
    margin-top:7px;
    color:#3F863F;
}

#body-top h1
{
    margin:0px;
    padding:0px;
    color:#404040;
    font-size:12pt;
}

h2, h3
{
    margin:0px;
    margin-top:10px;
    padding:0px;
    color:#606060;
}

a
{
    color:#202020;
    font-weight:bold;
    text-decoration:none;
    cursor:pointer;
}

a:hover
{
    color:#606060;
}

hr
{
    border:1px solid #DCECAE;
}

/******************[WIDGETS]***********************/

#widgets-left
{
    float:left;
    width:50%;
}

#widgets-right
{
    float:left;
    width:50%;
}

.widget
{
    width:97%;
    margin-right:3%;
    margin-bottom:3%;
    background-color:white;
    border-radius:5px;
}

.widget > h2
{
    background-color:#EBF5CD;
    background-image:url(../images/top-gradient.gif);
    padding:10px;
    padding-top:5px;
    padding-bottom:5px;
    -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px;
    text-shadow: 0px 1px 0px #EBF5CD    
}

.widget > div.widget-content
{
    padding:0px;
    margin:0px;
    height:240px;
}

#reminders-widget > h3
{
    background-color:yellow;
    margin: 0px;
    padding:10px;
    color:brown;
}

#reminders-list
{
    overflow: auto;
    height:200px;
}

#reminders-list > ul
{
    list-style:none;
    margin: 0px;
    padding:0px;
}

#reminders-list > ul > li
{
    padding:5px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom:1px solid #f0f0f0;
}

/******************* [ TOOLBAR ] ********************/
.toolbar
{
    list-style:none;
    margin:0px;
    padding:5px;
    background-color:#dae9e9;
    background-image:url('../images/top-gradient.gif');
    background-repeat: repeat-x;
    -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px;
}

.toolbar-toolitem-button
{
    font-size:smaller;
    float:left;
    padding:6px;
    background-color:#dcdcdc;
    background-image:url('../images/white_gradient.gif');
    background-repeat:repeat-x;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color:#202020;
    margin-right:5px;
    text-shadow: 0px 1px 0px #ffffff;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
}

.toolbar-branchselector
{
    float:right;
}

.button
{
    font-size:smaller;
    padding:5px;
    border:1px solid #808080;
    background-color:#dcdcdc;
    background-image:url('../images/white_gradient.gif');
    background-repeat:repeat-x;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color:#202020;
    margin-right:5px;
}

.toolbar-toolitem a
{
    color:#404040;
}

.toolbar-menu
{
    /*position:absolute;*/
    margin:0px;
    padding:0px;
    list-style:none;
    /*border:1px solid #808080;*/
    /*background-color:#fff;*/
    padding:5px;
    display:none;
}

.toolbar-menu li
{
    display:inline;
}

.toolbar-menu a
{
    padding:5px;
    /*border:1px solid #fff;*/
}

.toolbar-menu a:hover
{
    /*background-color:#f0f0f0;
    //border:1px solid #c0c0c0;
    //background-image:url('../images/white_gradient.gif');*/
}


.model-frame
{
margin-top:30px;
}

/************************** [ MENU ] ******************************/
ul.menu
{
list-style:none;
margin:5px;
padding-left:10px;
}

ul.root-menu
{
    background-color:#fff;
    padding:10px;
    margin:10px;
    margin-right:5px;
    margin-bottom:5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
    margin-top:15px;
    margin-bottom:15px;
    border-radius:5px;
}

ul.sub-menu
{
    display:none;
}

ul.menu li a
{
    font-weight:normal;
    display:block;
}

/************** [PERMISSIONS] ************************************/
ul.permission
{
    margin:0px;
    list-style:none;
    font-weight:bold;
    padding:0px;
}

ul.permission li
{
    margin-bottom:10px;
}

ul.permission li table
{
    border-collapse:collapse;
    margin-top:5px;
}

ul.permission li table thead
{
background-color:#DCECAE;
}

ul.permission li table tbody td
{
border-bottom:1px solid #dcecae;
}

.permission-box
{
font-weight:normal;
}

/***********************[DATA TABLE]******************************/
table.data-table
{
border-collapse:collapse;
}

table.data-table td
{
padding:5px;
}

table.data-table thead
{
background-color:#DCECAE;
font-weight:bold;
}

table.data-table tbody
{
background-color:#fff;
}

div#table-wrapper
{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
    /*margin:5px;
    /*-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, .5);*/
    -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px;
}

ul.table-pages
{
	list-style:none;
	margin:0px;
	padding:2px;
	background-color:#DCECAE;
	background-image:url('../images/bottom-gradient.gif');
	font-size:smaller;
}

ul.table-pages li
{
	display:inline;
	padding:5px;
}

ul.table-pages a.page-selected
{
    color:#fff;
}

.tapi-search-row
{
	background-color:#C7DA91;
	display:none;
}

/**************************[REPORTING]******************************/
table.filter-table
{
border-collapse:collapse;
width:100%;
}

table.filter-table > tbody > tr > td
{
border-bottom:1px solid #90D490;
margin-top:15px;
padding:5px;
}

label.header-label
{
    font-weight:bold;
}

.big-allround-shadow
{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
}

.large-allround-shadow
{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);
}

.recon-table  td
{
    border: 1px solid #808080;
}

/***************** ICONS ***************/
.icon
{
    padding-left:18px;
    background-repeat:no-repeat;
    min-height:16px;
}

.ihome { background-image:url(../images/icons/home.png)}
.ilogout { background-image:url(../images/icons/logout.png)}
.itrail { background-image:url(../images/icons/trail.png)}
.iusers { background-image:url(../images/icons/users.png)}
.inew { background-image:url(../images/icons/new.png)}
.iimport { background-image:url(../images/icons/import.png)}
.iexport { background-image:url(../images/icons/export.png)}
.isearch { background-image:url(../images/icons/search.png)}
.idelete { background-image:url(../images/icons/delete.png)}


